name: Build Keyboard Firmware

on:
  push:
    branches:
      - "**"

jobs:
  build:
    uses: sekigon-gonnoc/vial-qmk-firmware/.github/workflows/build.yml@main
    with:
      keyboard: auto_kdk
      keymap: vial
